<html>
<body>
<form action="" method="POST">
{% csrf_token %}
<input type="hidden" name="next" value="{{ next }}" />
<p>Please enter a username to masquerade as:
{{ form.as_p }}
<p><input type="Submit" value="Submit"></p>
</form>
</body>
</html>
